In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
url4 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/disponibilidad-por-central.csv'

In [3]:
df4 = pd.read_csv(url4)

In [4]:
df4.head()

,id,mes,central,agente,descripcion,tecnologia_descripcion,tecnologia,factor_disp_tec_porcentaje,fecha_proceso,lote_id_log,indice_tiempo
0,121855,1,ABRO,CTBROWNG,C.T. ALMIRANTE BROWN,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
1,121856,1,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,Ciclos Combinados,CC,0.700782,2020-05-05 11:07:57.624983,67,2017-01
2,121857,1,AESP,CTAESPAG,C.T. AES PARANA,Ciclos Combinados,CC,0.976917,2020-05-05 11:07:57.624983,67,2017-01
3,121858,1,ALEM,CTALEMAG,CT ALEM - AGGREKO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
4,121859,1,ALUM,CTALUMSG,CT ALUMINÉ - SECCO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01

In [5]:
df4.shape

(8103, 11)

In [6]:
print(df4.columns)

Index(['id', 'mes', 'central', 'agente', 'descripcion',
       'tecnologia_descripcion', 'tecnologia', 'factor_disp_tec_porcentaje',
       'fecha_proceso', 'lote_id_log', 'indice_tiempo'],
      dtype='object')

In [7]:
df4.describe()

                  id          mes  factor_disp_tec_porcentaje  lote_id_log
count    8103.000000  8103.000000                 8103.000000       8103.0
mean   125906.000000     6.291003                    0.779705         67.0
std      2339.278949     3.527090                    0.334617          0.0
min    121855.000000     1.000000                    0.000000         67.0
25%    123880.500000     3.000000                    0.749833         67.0
50%    125906.000000     6.000000                    0.946410         67.0
75%    127931.500000     9.000000                    0.999812         67.0
max    129957.000000    12.000000                    1.000000         67.0

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8103 entries, 0 to 8102
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8103 non-null   int64
 1   mes                         8103 non-null   int64
 2   central                     8103 non-null   object
 3   agente                      8103 non-null   object
 4   descripcion                 8103 non-null   object
 5   tecnologia_descripcion      8103 non-null   object
 6   tecnologia                  8103 non-null   object
 7   factor_disp_tec_porcentaje  8103 non-null   float64
 8   fecha_proceso               8103 non-null   object
 9   lote_id_log                 8103 non-null   int64
 10  indice_tiempo               8103 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 696.5+ KB